body{
    font-family: Google Sans;
    margin: 0;
    padding: 0;
}

ul{
    display: flex;
    gap: 20px;
    margin: 0;
    padding-right: 20px;
    font-weight: 700;
    justify-content: space-between;
    font-size: large;
}

nav{
    background-color: red;
    color: white;
    position: sticky;
    top: 0;
}

nav a{
    text-decoration: none;
    color: white;
}

aside{
    background-color: red;
    color: white;
    padding: 10px;
    width: 15%;
    height: 100vh;
    position: fixed;
}

aside a{
    text-decoration: none;
    color: white;
}

aside ul{
    display: block;
}

.container{
    margin-left: 18%;
}

@media screen and (max-width: 400px) {
    aside{
        display: none;
    }
    .container{
        margin: 0;
        padding: 0;
    }
}